<div class="card">
  <h2>My Heroes</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search your heroe by id or name</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        matInput
        [formControl]="myHeroes"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      </mat-autocomplete>
    </mat-form-field>
    <ul class="heroes">
      <h2>Select your hero:</h2>
      <li *ngFor="let hero of filteredOptions | async">
        <div
          [class.selected]="hero === selectedHero"
          type="button"
          (click)="onSelect(hero)"
        >
          <span class="badge">{{ hero.id }}</span>
          <span class="name">{{ hero.name | uppercase }}</span>
        </div>
      </li>
    </ul>
  </form>
  <button mat-raised-button color="primary" (click)="onAddNewClickOrCancel()">
    Add new
  </button>
  <form [formGroup]="form" *ngIf="isCreatingNewHero">
    <mat-form-field class="new-hero__fields" appearance="fill">
      <mat-label>Id</mat-label>
      <input id="id" matInput formControlName="id" required />
      <mat-error *ngIf="!form.get('id').valid">Required id</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input id="name" matInput formControlName="name" required />
      <mat-error *ngIf="!form.get('name').valid">Required name</mat-error>
    </mat-form-field>
    <div class="buttons-padding">
      <button mat-raised-button color="primary" (click)="addNew()">
        Submit
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onAddNewClickOrCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
